
footer{
  width: 100%;
  padding: clamp(1.2rem , 1vh + .9rem , 2.2rem);
  padding-top: 50px;
  background-color: #222831;
  overflow: hidden;
}
footer section {
  width: 85%;
  margin: 20px auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill , minmax(210px , 1fr));
  color: var(--color-text);
}
footer h3{
  font-size: 1.6rem;
  margin: 20px 0;
  color: var(--gold);
}
footer p {
  opacity: .8;
}
ul {
  list-style : none ;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .5rem;

}
ul li {
  cursor: pointer;
  transition: var(--transition);
  position: relative;
}
ul li::after{
  content: '';
  display: block;
  width: 2rem;
  height: .1rem;
  background-color: var(--main-color);
  border-radius:50% ;
  position: absolute;
  bottom: -10px;
  left:  -20px;
  opacity: 0;
  transition: var(--transition);
}
ul li:hover{
  color: var(--main-color);
}
ul li:hover::after{
  opacity: 1;
  left:  0%;
}
.contact span {
  font-weight: 700;
  margin-right: 10px;
}
.socel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.socel a {
  padding: 1rem;
  display: grid;
  place-items: center;
  border-radius: .4rem;
  background-color: var(--color-text);
  text-decoration: none;
  transition: var(--transition);
}
.socel a:nth-child(1){
  color: var(--bg2);
}
.socel a:nth-child(2){
  color: var(--color-primary);
}
.socel a:nth-child(3){
  color: var(--red);
}
.socel a:nth-child(4){
  color: var(--green);
}
.socel a:nth-child(1):hover{
  background-color: var(--bg2);
  color:var(--color-text) ;
}
.socel a:nth-child(2):hover{
  background-color: var(--color-primary);
  color:var(--color-text) ;
}
.socel a:nth-child(3):hover{
  background-color: var(--red);
  color:var(--color-text) ;
}
.socel a:nth-child(4):hover{
  background-color: var(--green);
  color:var(--color-text) ;
}
