.card_page {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem;
  flex-wrap: wrap;
}
.project_card {
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 0.6rem;
  cursor: pointer;
  box-shadow: var(--shadow);
  overflow: hidden;
}
.project_card .card-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0.6rem;
}
.project_card .card-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem .3rem 0rem 1.9rem;
  object-fit: cover;
  anchor-name: --img;
  transition: var(--transition);
}
.project_card .card-img:hover img {
  transform: scale(1.2) rotate(-5deg);
}
.card .card-title {
  color: var(--dark);
  transition: var(--transition);
}
.card .card-title:hover {
  color: var(--main-color);
}
 .card .tools {
  width: 40%;
  height: 100%;
  border-radius: .3rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top : 0 ;
  right: -40px;
  opacity: 0;
  pointer-events: none;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  z-index: 1;
  transition: var(--transition);
}
.card:hover .tools{
  opacity: 1;
  right: 0%;
  pointer-events: auto;
}
.card .tools i {
  color: var(--color-text);
  transition: var(--transition);
}
.card .tools i:hover {
  color: var(--main-color);
}
.project_card .rate {
  display: inline;
  position: absolute;
  padding: 0.3rem;
  background-color: var(--main-color);
  color: var(--color-text);
  border-radius: 20px;
  position-anchor: --img;
  bottom: calc(anchor(top) - 50px);
  right: calc(anchor(left) - 60px);
}

/** كرت اضافة المزيد  */
.add_new_project {
  height: 350px;
  border-radius: 0.4rem;
  background-color: var(--color-text);
  box-shadow: var(--shadow);
  padding: 0.1rem;
  display: inline-grid;
  place-items: center;
  transition: var(--transition);
  cursor: pointer;
  position: relative;
}

.add_new_project span {
  width: 100%;
  height: 0;
  background-color: var(--color-muted);
  border-radius: 0.4rem;
  font-size: 2rem;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  transition: var(--transition);
  opacity: 0;
}
.add_new_project span i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.add_new_project span i {
  color: var(--main-color);
}
.add_new_project:hover {
  color: var(--main-color);
  transform: translateY(-15px);
}

.add_new_project:hover span {
  height: 100%;
  top: 0;
  opacity: 0.5;
  color: var(--main-color);
}

/*& dark mode  */
.card_page.dark .lr {
  background-color: var(--bg4);
}
.card_page.dark .card {
  background-color: var(--color-dark-card);
  color: var(--color-dark-text_1);
}
.card_page.dark .card .card-title {
  color: var(--color-title);
}
.card_page.dark .card .card-title:hover {
  color: var(--bg4);
}

.card_page.dark .add_new_project {
  background-color: var(--color-dark-card);
  color: var(--color-title) !important;
}
.card_page.dark .add_new_project span i {
  color: var(--bg4);
}
.card_page.dark .add_type form {
  background-color: var(--color-dark-card);
}
.card_page.dark .add_type form h2  {
  color: var(--color-title) !important;
}
.card_page.dark .add_type form label ,.card_page.dark .add_type form h6 {
  color: var(--color-dark-text_2);
}
.card_page.dark .project_card .rate {
  background-color: var(--color-dark-card);
}

.alert.alert-danger {
  width: 50%;
}
