<section class="card_page" [ngClass]="{'dark' : bg== 'dark'}">
  @for (projcet of projcets; track $index) {
  <!--& المشروع  -->
  <article class="project_card card fade-up" appFadeUp [attr.data-id]="projcet.id">
    <section class="card-img">
      <img (click)="detalisProject(projcet.id)" [src]="projcet.project_poster" alt="project">
      <span class="rate"><i class="fa-solid fa-star"></i> {{projcet.project_rate}}</span>
    </section>
    <section class="card-body">
      <h4 class="card-title" (click)="detalisProject(projcet.id)">{{projcet.project_title | projectDis : 20}}</h4>
      <p class="card-text"><span class='text-primary fw-bolder'>Client</span> : {{projcet.client_name}}</p>
      <button class="btn btn-outline-primary" (click)="detalisProject(projcet.id)">Show Project</button>
    </section>
    <div class="tools"  *ngIf="adminMode" >
      <i class="fa-regular fa-eye" (click)="detalisProject(projcet.id)"></i>
      <i class="fa-solid fa-pen" (click)="openEdit(projcet) "></i>
      <i class="fa-solid fa-trash" (click)="deleteProject(projcet.id)"></i>
    </div>
  </article>
  }
  <!--&كرت اضافة   -->
  <section class="add_new_project fade-up" appFadeUp *ngIf="adminMode" (click)="show = true ; editMode = false ; my_project = null">
    <h4>Add New Project</h4>
    <span> <i class="fa-solid fa-circle-plus"></i>
    </span>
  </section>

<app-project-form [show]="show" [editMode]="editMode" [project]="my_project" (closeForm)="show = false ; editMode = false" (refreshProjects)="getProjects()" ></app-project-form>
