<section class="card_page" [ngClass]="{'dark' : bg== 'dark'}">
  @for (projcet of projcets; track $index) {
  <!--& المشروع  -->
  <article class="project_card card fade-up" appFadeUp [attr.data-id]="projcet.id">
    <section class="card-img">
      <img (click)="detalisProject(projcet.id)" [src]="projcet.project_poster" alt="project">
      <span class="rate"><i class="fa-solid fa-star"></i> {{projcet.project_rate}}</span>
    </section>
    <section class="card-body">
      <h4 class="card-title" (click)="detalisProject(projcet.id)">{{projcet.project_title | projectDis : 30}}</h4>
      <p class="card-text">Client : {{projcet.client_name}}</p>
      <button class="btn btn-outline-primary" (click)="detalisProject(projcet.id)">Show Project</button>
    </section>
    <div class="tools">
      <i class="fa-regular fa-eye" (click)="detalisProject(projcet.id)"></i>
      <i class="fa-solid fa-pen" *ngIf="adminMode" (click)="enableEdit(projcet.id)"></i>
      <i class="fa-solid fa-trash" *ngIf="adminMode" (click)="deleteProject(projcet.id)"></i>
    </div>
  </article>
  }
  <!--&كرت اضافة   -->
  <section class="add_new_project fade-up" appFadeUp *ngIf="adminMode" (click)="open_add_pro()">
    <h4>Add New Project</h4>
    <span> <i class="fa-solid fa-circle-plus"></i>
    </span>
  </section>


  <!--! اضافة مشروع جديد  -->
  <section class="add_type hidden" #add_pro>

    <form [formGroup]="add_project" (ngSubmit)="onsubmit()">
      <i class="fa-solid fa-circle-xmark " (click)="closing_add_pro()"></i>
      <h2 class="text-center fade-up" appFadeUp> add new project</h2>

      <!--& project title  -->
      <article class="flid my-2 ">
        <label for="title" class="form-label fade-up" appFadeUp>project title</label>
        <input type="text" name="title" id="title" class="form-control fade-up" appFadeUp
          formControlName="project_title" placeholder="title project">
        <div class="validators">
          @if(project_title.dirty || project_title.touched){
          @if(project_title.getError('required')){
          <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
            flid
            required</p>
          }@if(project_title.getError('minlength')){
          <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> project
            title must be at least 3 characters</p>
          }
          }
        </div>
      </article>
      <!--& project poster  -->
      <article class="flid my-2 ">
        <label for="media" class="form-label">project poster</label>
        <div class="imgBox">
          <input type="file" name="media" id="media" class="form-control" (change)="uplodeImg($event)">
          <img [src]="imgsrc || './assets/notFoundImg.jpg'" alt="" class="fade-up" appFadeUp>
        </div>
        <div class="validators">
          @if(project_poster.dirty || project_poster.touched){
          @if(project_poster.getError('required')){
          <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
            flid
            required</p>
          }
          }
        </div>
      </article>
      <!--& date  -->
      <article class="flid date  my-2 ">
        <div class="start">
          <label for="start_date" class="form-label fade-up" appFadeUp>Project Start</label>
          <input type="date" name="start_date" id="date" formControlName="date_start" class="form-control fade-up"
            appFadeUp>
        </div>
        <div class="end">
          <label for="start_date" class="form-label fade-up" appFadeUp>end Date</label>
          <input type="date" name="end_date" id="date" formControlName="date_end" class="form-control fade-up"
            appFadeUp>
        </div>

      </article>
      <!--& Customer name -->
      <article class="flid my-2 ">
        <label for="client_name" class="form-label fade-up" appFadeUp>Customer name</label>
        <input placeholder="Enter Customer name" type="text" name="client_name" id="client_name"
          class="form-control fade-up" appFadeUp formControlName="client_name">
        <div class="validators">
          @if(client_name.dirty || client_name.touched){
          @if(client_name.getError('required')){
          <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
            flid
            required</p>
          }
          }
        </div>
      </article>
      <!--& project main description  -->
      <article class="flid my-2 ">
        <label for="description" class="form-label fade-up" appFadeUp>Project Overview</label>
        <textarea name="description" id="description" class="form-control fade-up" appFadeUp
          formControlName="project_dis" placeholder="Project General Description">
        </textarea>
        <div class="validators">
          @if(project_dis.dirty || project_dis.touched){
          @if(project_dis.getError('required')){
          <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
            flid
            required</p>
          }@if(project_dis.getError('minlength')){
          <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> project
            dicription must be at least 3 characters</p>
          }
          }
        </div>
      </article>
      <!--& project type  -->
      <article class="flid my-2 ">
        <label for="type" class="form-label fade-up" appFadeUp>project type</label>
        <select name="type" id="type" class="form-select" formControlName="project_type">
          @for (type of typeSeletion; track $index) {
          <option [value]="type">{{type}}</option>

          }
        </select>
        <div class="validators">
          @if(project_type.dirty || project_type.touched){
          @if(project_type.getError('required')){
          <p class="fade-up alert alert-danger my-2" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this flid
            required</p>
          }
          }
        </div>
      </article>
      <!--& Strategic Approach  -->
      <article class="flid position-relative my-2 py-2 " formArrayName="strategics">
        <h4 class="text-primary fade-up" appFadeUp>Strategic Approach</h4>
        @for (i of strategicControls.controls; track i ; let c = $index) {
        <div class="strategic position-relative" [formGroupName]="$index">
          <label for="strategic" class="d-inline m-2 form-label fade-up " appFadeUp>strategic {{$index + 1}}</label>
          <input placeholder="Add strategies" type="text" name="strategic" id="strategic" appFadeUp
            class="d-inline m-2 w-75 fade-up form-control" formControlName="strategic">
          <button class="btn del fade-up position-absolute top-0 end-0" appFadeUp
            (click)="deleteFildes($index , strategicControls)" type="button"><i class="fa-solid fa-xmark"></i> </button>
          <div class="validators">
            @if(i.get('strategic')?.dirty || i.get('strategic')?.touched){
            @if(i.get('strategic')?.getError('required')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
              flid
              required</p>
            }
            }
          </div>
        </div>
        }
        <button class="btn btn-primary position-absolute top-0 end-0 fade-up" appFadeUp (click)="addStrategic()"
          type="button"><i class="fa-solid fa-plus"></i></button>
      </article>
      <!--& Role in the Project  -->
      <article class="flid position-relative my-2 py-2 " formArrayName="roles">

        <h4 class="text-primary fade-up" appFadeUp>My Role in the Project</h4>
        @for (role of rolesControls.controls; track role ; let c = $index) {
        <div class="role position-relative" [formGroupName]="$index">
          <label for="role" class="form-label  fade-up mx-3 d-inline my-2  " appFadeUp>Role {{ $index + 1}}</label>
          <input type="text" name="role" id="role" placeholder="Add your role in the project" appFadeUp
            class="w-75 my-2 d-inline fade-up form-control" formControlName="role">
          <button class="btn del fade-up position-absolute top-0 end-0" appFadeUp
            (click)="deleteFildes($index , rolesControls)" type="button"><i class="fa-solid fa-xmark"></i> </button>

          <div class="validators">
            @if(role.get("role")?.dirty || role.get("role")?.touched){
            @if(role.get("role")?.getError('required')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
              flid
              required</p>
            }
            }
          </div>
        </div>
        }
        <button class="btn btn-primary position-absolute top-0 end-0 fade-up" appFadeUp (click)="addRole()"
          type="button"><i class="fa-solid fa-plus"></i></button>

      </article>
      <!--& Tools  -->
      <article class="flid position-relative my-2 py-2" formArrayName="tools">
        <h4 class="text-primary fade-up" appFadeUp>Tools used</h4>
        @for (i of toolsControls.controls; track i ; let c= $index) {
        <div class="tools position-relative" [formGroupName]="$index">
          <label for="tool" class="form-label fade-up d-inline " appFadeUp>Tool {{$index + 1}}</label>
          <input type="text" name="tool" id="tool" appFadeUp class="w-75 my-2  d-inline fade-up form-control"
            formControlName="tool" placeholder="Add tool">
          <button class="btn del fade-up position-absolute top-0 end-0" appFadeUp
            (click)="deleteFildes($index , toolsControls)" type="button"><i class="fa-solid fa-xmark"></i> </button>
          <div class="validators">
            @if(i.get('tool')?.dirty || i.get('tool')?.touched){
            @if(i.get('tool')?.getError('required')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
              flid
              required</p>
            }
            }
          </div>
        </div>
        }
        <button class="btn btn-primary  position-absolute top-0 end-0 fade-up" appFadeUp (click)="addTools()"
          type="button"><i class="fa-solid fa-plus"></i></button>
      </article>

      <!--& The Challenge  -->
      <article class="flid position-relative my-2 py-2" formArrayName="challenges">
        <h4 class="text-primary fade-up" appFadeUp>The Project Challenge</h4>
        @for (i of challengeControls.controls; track i ; let c = $index) {
        <div class="challange position-relative" [formGroupName]="$index">
          <label for="challeng" class="form-label fade-up d-inline m-2" appFadeUp>challange {{$index + 1}}</label>
          <input type="text" name="challeng" id="challeng" appFadeUp class="w-75 d-inline my-2 fade-up form-control"
            formControlName="challenge" placeholder="Add a new challange">
          <button class="btn del fade-up position-absolute top-0 end-0" appFadeUp
            (click)="deleteFildes($index , challengeControls)" type="button"><i class="fa-solid fa-xmark"></i> </button>

          <div class="validators">
            @if(i.get("challenge")?.dirty || i.get("challenge")?.touched){
            @if(i.get("challenge")?.getError('required')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
              flid
              required</p>
            }
            }
          </div>
        </div>
        }
        <button class="btn btn-primary position-absolute top-0 end-0 fade-up" appFadeUp (click)="addChallenge()"
          type="button"><i class="fa-solid fa-plus"></i></button>
      </article>

      <!--& Results  -->
      <article class="flid my-2 py-2 " formArrayName="results">
        <h4 class="text-primary fade-up" appFadeUp>Project Results</h4>
        @for (reselt of resultsControls.controls; track reselt ;let c =$index) {
        <div class="results position-relative my-2" [formGroupName]="$index">

          <h6 class="fade-up my-4" appFadeUp>
            @if($index == 0){
            Results Before 3 Months
            }@else{
            Results After {{ $index * 3 }} Months
            }
          </h6>
          <label for="view" class="form-label fade-up w-25 " appFadeUp>Number of views</label>
          <input type="text" name="view" id="view" placeholder="Number of views" appFadeUp
            class="ms-auto d-inline w-75 my-2 fade-up form-control" formControlName="view">
          <div class="validators">
            @if(reselt.get("view")?.dirty || reselt.get("view")?.touched){
            @if(reselt.get("view")?.getError('required')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
              flid
              required</p>
            }@if(reselt.get("view")?.getError('pattern')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i>
              Numbers only </p>
            }
            }
          </div>
          <label for="interaction" class="form-label fade-up  w-25 " appFadeUp>Number of interactions</label>
          <input type="text" name="interaction" id="interaction" placeholder="Number of interactions" appFadeUp
            class="d-inline w-75 my-2 fade-up form-control" formControlName="interaction">
          <div class="validators">
            @if(reselt.get("interaction")?.dirty || reselt.get("interaction")?.touched){
            @if(reselt.get("interaction")?.getError('required')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
              flid
              required</p>
            }@if(reselt.get("interaction")?.getError('pattern')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i>
              Numbers only </p>
            }
            }
          </div>
          <label for="click" class="form-label fade-up  w-25 " appFadeUp>Number of links accessed</label>
          <input type="text" name="click" id="click" placeholder="Number of links accessed" appFadeUp
            class="d-inline w-75 my-2 fade-up form-control" formControlName="Click">
          <div class="validators">
            @if(reselt.get("Click")?.dirty || reselt.get("Click")?.touched){
            @if(reselt.get('Click')?.getError('required')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
              flid
              required</p>
            }@if(reselt.get("Click")?.getError('pattern')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i>
              Numbers only </p>
            }
            }
          </div>
          <label for="vist" class="form-label fade-up  w-25 " appFadeUp>Number of page visits</label>
          <input type="text" name="vist" id="vist" placeholder="Number of page visits" appFadeUp
            class="d-inline w-75 my-2 fade-up form-control" formControlName="visit_page">
          <div class="validators">
            @if(reselt.get("visit_page")?.dirty || reselt.get("visit_page")?.touched){
            @if(reselt.get("visit_page")?.getError('required')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
              flid
              required</p>
            }@if(reselt.get("visit_page")?.getError('pattern')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i>
              Numbers only </p>
            }
            }
          </div>
          <label for="followers" class="form-label fade-up w-25  " appFadeUp>Number of new followers</label>
          <input type="text" name="followers" id="followers" placeholder="Number of new followers" appFadeUp
            class="d-inline w-75 my-2 fade-up form-control" formControlName="New_follower">
          <div class="validators">
            @if(reselt.get('New_follower')?.dirty || reselt.get('New_follower')?.touched){
            @if(reselt.get('New_follower')?.getError('required')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
              flid
              required</p>
            }@if(reselt.get('New_follower')?.getError('pattern')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i>
              Numbers only </p>
            }
            }
          </div>
          <button class="btn  del fade-up position-absolute top-0 end-0" appFadeUp
            (click)="deleteFildes($index ,resultsControls)" type="button"><i class="fa-solid fa-xmark"></i> Delete this
            stage </button>
        </div>

        }
        <button class="btn btn-primary fade-up " appFadeUp (click)="addResults()" type="button"><i
            class="fa-solid fa-plus"></i> Add more results </button>
      </article>
      <!--& Recommendations   -->
      <article class="flid position-relative my-2 py-2" formArrayName="recommendations">
        <h4 class="text-primary fade-up" appFadeUp>Pending Marketing Proposals :</h4>
        @for (i of recommendationsControls.controls; track i ; let c= $index) {
        <div class="recommendations position-relative" [formGroupName]="$index">
          <label for="recommendation m-2" class="form-label fade-up d-inline " appFadeUp>recommendation {{$index +
            1}}</label>
          <input type="text" name="recommendation" id="recommendation" appFadeUp
            class="w-75 my-2  d-inline fade-up form-control" placeholder="Add a new proposal"
            formControlName="recommendation">
          <button class="btn del fade-up position-absolute top-0 end-0" appFadeUp
            (click)="deleteFildes($index , recommendationsControls)" type="button"><i class="fa-solid fa-xmark"></i>
          </button>

          <div class="validators">
            @if(i.get('recommendation')?.dirty || i.get('recommendation')?.touched){
            @if(i.get('recommendation')?.getError('required')){
            <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
              flid
              required</p>
            }
            }
          </div>
        </div>
        }
        <button class="btn btn-primary  position-absolute top-0 end-0 fade-up" appFadeUp (click)="addRecommendation()"
          type="button"><i class="fa-solid fa-plus"></i></button>
      </article>

      <!--& project rate  -->
      <article class="flid my-2 ">
        <label for="rate" class="form-label fade-up" appFadeUp>project rate</label>
        <select class="form-select fade-up" formControlName="project_rate" appFadeUp name="rate" id="rate">
          @for ( i of rangeHalf(5); track $index) {
          <option [value]="i">{{i}}</option>
          }
        </select>
        <div class="validators">
          @if(project_rate.dirty || project_rate.touched){
          @if(project_rate.getError('required')){
          <p class=" my-2 fade-up alert alert-danger" appFadeUp> <i class="fa-solid fa-circle-exclamation"></i> this
            flid
            required</p>
          }
          }
        </div>
      </article>

      <!--& project media  -->
      <article class="flid position-relative my-2 py-2" formArrayName="project_media">
        <h4 class="text-primary fade-up" appFadeUp>All
          media :</h4>
        @for (media of mediaControls.controls; track media ; let c = $index) {
        <div class="media position-relative" [formGroupName]="$index">
          <label class="form-label w-100 fade-up" appFadeUp>Add media {{$index + 1}}</label>
          <div class="media_img">
            <input type="file" class="my-1 form-control w-100  mx-1 fade-up" appFadeUp
              (change)="uplodeImgMedia($event , $index)">
            <input type="text" formControlName="dis" placeholder="Description"
              class="my-1 form-control w-100 d-inline mx-1 fade-up" appFadeUp formControlName="dis">

            <select name="isVideo" id="isVideo" class="form-select w-100 mx-2 fade-up" appFadeUp
              formControlName="isVideo">
              <option [ngValue]="true">Video</option>
              <option [ngValue]="false">Image</option>
            </select>
          </div>
          <img [src]="mediaControls.controls.at($index)?.get('url')?.value || './assets/notFoundImg.jpg'" alt="">
          <button class="btn del fade-up position-absolute top-0 end-0" appFadeUp
            (click)="deleteFildes($index , mediaControls)" type="button"><i class="fa-solid fa-xmark"></i> </button>
        </div>
        <hr>
        }
        <button class="btn btn-primary position-absolute top-0 end-0 fade-up" appFadeUp (click)="addMedia()"
          type="button"><i class="fa-solid fa-plus"></i></button>
      </article>
      <button class="btn btn-primary w-25 fade-up " appFadeUp type="submit" #btnSubmit>
        @switch (eidtMode) {
        @case (true) {
        Update Project
        }
        @case (false) {
        add project
        }
        }
      </button>
    </form>
  </section>
