hr {
  border-radius: 0.5rem;
  background-color: var(--main-color);
  border-color: var(--main-color);
  width: 85%;
  margin: auto;
}

.details_page h3 {
  color: var(--main-color) !important;
  font-weight: 600;
  padding: 0.5rem;
  margin-block: 40px;
  border-left: 5px solid var(--main-color);
}

.details_page {
  width: 100%;
  height: 100%;
  padding: clamp(0.6rem, 1vw + 0.4rem, 1.3rem);
}
.container {
  box-shadow: var(--shadow);
  border-radius: 7px;
  padding: 20px;
  margin-block: 30px;
}

.project_details {
  display: flex;
  gap: 1.2rem;
  margin-block: 30px;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
}

.project_details .poster {
  width: 50%;
  border: 5px solid var(--primary-color);
  /* height: 350px; */
  border-radius: 7px;
  overflow: hidden;
}
.project_details .poster {
  width: 50%;
  height: 350px;
}
.project_details img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project_details .details {
  width: 45%;
}
.project_details .details h1:hover {
  transition: var(--transition);
}
.project_details .details h1:hover {
  color: var(--main-color);
}
.project_details .details p {
  color: var(--border);
  font-size: 1.1rem;
  margin-top: 10px;
}
.roles {
  display: flex;
  flex-flow: wrap row;
  gap: 1rem;
  list-style: none;
}
.roles li {
  margin: 0.7rem 0.4rem;
  padding: 0.5rem;
  background-color: var(--main-color);
  color: var(--color-text);
  box-shadow: var(--shadow);
  border-radius: 45px;
  transition: var(--transition);
  cursor: pointer;
}
.roles li:hover {
  background-color: var(--color-text);
  color: var(--main-color);
}

#carouselExampleCaptions .carousel-item {
  width: 100%;
  height: 400px;
}
#carouselExampleCaptions .carousel-item img,
#carouselExampleCaptions .carousel-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lr {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 40%;
  left: 0;
  bottom: -60px;
  opacity: 0;
  transition: var(--transition);
  pointer-events: none;
}
.carousel-item:hover .lr {
  opacity: 1;
  bottom: 0;
  pointer-events: all;
}

.project-analytics {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.analytics-header {
  background: #f8f9fa;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.title-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-block: 30px;
}

.title-box > i {
  font-size: 32px;
  color: var(--main-color);
}

.title-box h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.title-box p {
  margin: 0;
  color: gray;
  font-size: 14px;
}
.charts {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
  gap: 20px;
}
.charts .apx-chart {
  width: 47% !important;
  min-height: 300px;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.tools ul,
.recommendation ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.recommendation ul li {
  background: #f9f9f9;
  padding: 12px 16px;
  border-left: 4px solid #1f77b4;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.6s ease,
    box-shadow 0.6s ease;
}
.tools ul li:hover,
.recommendation ul li:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.tools ul li {
  width: 100%;
  padding: 12px 16px;
  border-radius: 0.8rem;
  background: #f0f4ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition:
  transform 0.6s ease,
  box-shadow 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
.tools ul li span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--color-text);
  font-weight: 700;
  font-size: 1.2rem;
  display: grid;
  place-items: center;

}

@media screen and (max-width: 992px) {
  .project_details {
    flex-flow: column-reverse;
  }
  .project_details .poster {
    width: 100%;
  }
  .project_details .details {
    width: 100%;
  }
  .project-analytics {
    flex-direction: column;
  }
  .analytics-header {
    width: 100%;
  }
  .charts {
    width: 100%;
  }
  .charts .apx-chart {
    width: 100% !important;
  }
}

.details_page.dark .container {
  background-color: var(--bg2);
}
.details_page.dark .details h1:hover {
  color: var(--main-color);
}
.details_page.dark h1 ,.details_page.dark h1 span {
  color: var(--color-text);
}
.details_page.dark h1:hover {
  color: var(--main-color);
}
.details_page.dark h3 {
  color: var(--main-color) !important;
  border-color: var(--main-color);
}
.details_page.dark hr {
  border-color: var(--main-color);
}
.details_page.dark .roles li {
  background-color: var(--main-color);
  color: var(--color-text);
}
.details_page.dark .challenge li,
.details_page.dark .stra li,
.details_page.dark .tools li {
  color: var(--color-muted);
}
.details_page.dark .roles li:hover {
  background-color: var(--color-text);
  color: var(--main-color);
}
.details_page.dark .all_media h3 span {
  color: var(--border) !important ;
  opacity: 0.7;
}

.details_page.dark .title-box > i {
  color: var(--main-color) !important;
}
.details_page.dark .title-box h4 {
  color: var(--main-color) !important;
}
.details_page.dark .title-box p {
  color: var(--color-text) !important;
  opacity: 0.7;
}

.details_page.dark .charts .apx-chart {
  background-color: var(--bg4);
}
.details_page.dark .analytics-header ,
.details_page.dark .tools ul li,
.details_page.dark .recommendation ul li {
  background-color: var(--bg4);
  color: var(--color-text) ;
}
