<section class='details_page' [ngClass]="{'dark':bg=='dark'}">
  <div class="container">
    <section class="project_details">
      <article class="details">
        <h1 class="fade-left" appFadeLeft>{{project.project_title}} <span class="text-white-50 fs-6"
            [ngClass]="{'text-white' : bg =='dark'}">({{diffInMonths( project.date_start,project.date_end
            )}}Month)</span></h1>
        <ul class="roles">
          @for (role of project.roles; track $index) {
          <li class="fade-up" appFadeUp> {{role.role}}</li>
          }
        </ul>
        <h3 class="fade-up" appFadeUp>Project Overview :</h3>
        <p class="fade-up" appFadeUp>{{project.project_dis}}</p>
      </article>
      <article class="poster">
        <img [src]="project.project_poster" class="fade-right" appFadeRight [alt]="project.project_title">
      </article>
    </section>
    <hr class="fade-up " appFadeUp>
    <!--& challenges  -->
    <article class="challenge">
      <h3 class="fade-up" appFadeUp>challenges</h3>
      <ol type="1">
        @for (c of project.challenges; track $index) {
        <li class="fade-up " appFadeUp>{{c.challenge}}</li>
        }
      </ol>
    </article>
    <hr class="fade-up " appFadeUp>
    <!--& tools  -->
    <hr class="fade-up " appFadeUp>
    <article class="tools">
      <h3 class="fade-up" appFadeUp>Tools</h3>
      <ul>
        @for (tool of project.tools; track $index) {
        <li class="fade-up" appFadeUp><span>{{$index + 1}}</span> {{tool.tool}}</li>
        }
      </ul>
    </article>
    <!--& stratges  -->
    <article class="stra">
      <h3 class="fade-up" appFadeUp>strategic</h3>
      <ol>
        @for (str of project.strategics; track $index) {
        <li class="fade-up " appFadeUp>{{str.strategic}}</li>
        }
      </ol>
    </article>
    <hr class="fade-up " appFadeUp>
    <!--& project-analytics  -->
    <section class="project-analytics">
      <article class="analytics-header">
        <div class="title-box">
          <i class="fa-solid fa-chart-line"></i>
          <div>
            <h4>Project Performance Analytics</h4>
            <p>Overview of engagement, reach and growth metrics</p>
          </div>
        </div>
        <button class="btn btn-outline-primary " (click)="chartPage()">
          <i class="fa-solid fa-expand"></i> Show All Details
        </button>

      </article>
      <!--! الاشكال و التحليلات   -->
      <article class="charts">
        <apx-chart class="apx-chart" [labels]="viewsChartOptions.labels!" [series]="viewsChartOptions.series!"
          [chart]="viewsChartOptions.chart!" [xaxis]="viewsChartOptions.xaxis!" [yaxis]="chartOptions.yaxis!"
          [colors]="viewsChartOptions.colors!" [dataLabels]="viewsChartOptions.dataLabels!"
          [stroke]="viewsChartOptions.stroke!" [plotOptions]="viewsChartOptions.plotOptions!"
          [tooltip]="viewsChartOptions.tooltip!" [fill]="viewsChartOptions.fill!">
        </apx-chart> <apx-chart class="apx-chart" [labels]="clickChartOptions.labels!" [series]="clickChartOptions.series!"
          [chart]="clickChartOptions.chart!" [xaxis]="clickChartOptions.xaxis!" [yaxis]="clickChartOptions.yaxis!"
          [colors]="clickChartOptions.colors!" [dataLabels]="clickChartOptions.dataLabels!"
          [stroke]="clickChartOptions.stroke!" [plotOptions]="clickChartOptions.plotOptions!"
          [tooltip]="clickChartOptions.tooltip!" [fill]="clickChartOptions.fill!">
        </apx-chart> <apx-chart class="apx-chart" [labels]="interactionChartOptions.labels!"
          [series]="interactionChartOptions.series!" [chart]="interactionChartOptions.chart!"
          [xaxis]="interactionChartOptions.xaxis!" [yaxis]="interactionChartOptions.yaxis!"
          [colors]="interactionChartOptions.colors!" [dataLabels]="interactionChartOptions.dataLabels!"
          [stroke]="interactionChartOptions.stroke!" [plotOptions]="interactionChartOptions.plotOptions!"
          [tooltip]="interactionChartOptions.tooltip!" [fill]="interactionChartOptions.fill!">
        </apx-chart> <apx-chart class="apx-chart" [labels]="followersChartOptions.labels!"
          [series]="followersChartOptions.series!" [chart]="followersChartOptions.chart!"
          [xaxis]="followersChartOptions.xaxis!" [yaxis]="followersChartOptions.yaxis!"
          [colors]="followersChartOptions.colors!" [dataLabels]="followersChartOptions.dataLabels!"
          [stroke]="followersChartOptions.stroke!" [plotOptions]="followersChartOptions.plotOptions!"
          [tooltip]="followersChartOptions.tooltip!" [fill]="followersChartOptions.fill!">
        </apx-chart>
      </article>
    </section>
    <hr class="fade-up" appFadeUp>
    <!--& slider  -->
    <section class="all_media">
      <h3 class="text-primary text-capitalize mb-3">Marketing Project Lifecycle: <span class="text-muted fs-6"> From
          Handover to Execution and
          Detailed Deliverables</span></h3>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">

          @for (btn of project.project_media; track $index) {
          <button type="button" data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="$index"
            [ngClass]="{'active' : $index === 0}" aria-current="true"
            [attr.aria-label]="'Slide'+ ($index + 1)"></button>
          }

        </div>
        <div class="carousel-inner">

          @for (media of project.project_media; track $index) {
          <div class="carousel-item " [ngClass]="{'active': $index === 0}">
            @if (media.isVideo ){
            <video class="d-block w-100" controls>
              <source [src]="media.url" type="video/mp4">
              <p class="alert alert-danger"> <i class="fa-solid fa-circle-exclamation"></i> Your browser does not
                support the
                video tag.</p>
            </video> }@else{
            <img [src]="media.url" class="d-block w-100" alt="...">
            }

            <div class="carousel-caption  d-md-block lr">
              <!-- <h5>First slide label</h5> -->
              <p>{{media.dis}}</p>
            </div>
          </div>
          }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <hr class="fade-up " appFadeUp>
    <!--& recommadtion  -->
    <article class="recommendation">
      <h3 class="fade-up" appFadeUp>Pending Marketing Proposals</h3>
      <ul type="1">
        @for (c of project.recommendations; track $index) {
        <li class="fade-up " appFadeUp  [style.animationDelay]="($index * 0.1)+'s'">{{c.recommendation}}</li>
        }
      </ul>
    </article>
  </div>


</section>
