hr {
  border-radius: 0.5rem;
  background-color: var(--main-color);
  border-color: var(--main-color);
  width: 85%;
  margin: auto;
  display: none;
}

.details_page h3 {
  color: var(--dark) !important;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 0.1rem;
  margin-block: 40px;
  position: relative;
}

.details_page h3 .icon {
  background-color: var(--color-muted);
  width: 50px;
  height: 50px;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.3rem;
}

.details_page {
  width: 100%;
  height: 100%;
  padding: clamp(0.6rem, 1vw + 0.4rem, 1.3rem);
}
.container {
  box-shadow: var(--shadow);
  border-radius: 7px;
  padding: 20px;
  margin-block: 30px;
}
.project_details .details h2 {
  font-size: clamp(1.4rem, 1vw + 1rem, 1.8rem);
  transition: var(--transition);
}
.project_details .details h2:hover {
  color: var(--main-color);
}
.project_details .date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.project_details .date i {
  color: var(--main-color);
  margin-block: 0.5rem;
}
.project_details .date .client {
  color: var(--main-color);
  font-weight: 700;
}
.project_details img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
/** role  */
.roles_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0.6rem;
  margin-top: 15px;
}

.role_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.4rem;
  padding: 0.6rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.8rem;
  transition: var(--transition);
  cursor: default;
  background-color: var(--color-muted);
}

.role_card i {
  font-size: 0.9rem;
  color: var(--main-color);
}

.role_card:hover {
  transform: translateY(-3px);
  background: var(--main-color);
  color: #fff;
}
.role_card:hover i {
  color: #fff;
}
.overview p {
  color: var(--border);
  font-size: 1.1rem;
  line-height: 200%;
  margin-top: 4px;
}
/** stratges and challenges */
.collection {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-block: 30px;
}
.collection article {
  width: 45%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
}
@media screen and (max-width: 992px) {
  .collection {
    flex-direction: column;
  }
  .collection article {
    width: 100%;
  }
}
.collection .stra h3 .icon {
  background-color: #a0dfc2;
}
.collection .challenge h3 .icon {
  background-color: #e0a6ab;
}
.collection .challenge {
  background-color: #f2d2d2;
  border-color: #e0a6ab;
}
.collection .stra {
  background-color: #d8efcd;
  border-color: #a0dfc2;
}
.collection .challenge h3 {
  color: #dc3545 !important;
}
.collection .stra h3 {
  color: #198754 !important;
}

.collection ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  position: relative;
  margin-left: 0;
}
.details_page.dark .collection .challenge ul li {
  color: #dc3545;
}
.details_page.dark .collection .stra ul li {
  color: #198754 ;
}
.collection ul li {
  position: relative;
  padding: 20px;
}
.collection li::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10px;
}

.collection .stra ul li::after,
.collection .challenge ul li::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-radius: 50%;
  background-color: var(--color-text);
  position: absolute;
  top: 27px;
  left: -13px;
}

.collection .stra li::before {
  background-color: #198754;
}
.collection .challenge li::before {
  background-color: #dc3545;
}
.collection .stra ul li::after {
  border-color: #198754;
}
.collection .challenge ul li::after {
  border-color: #dc3545;
}
/** details */
#carouselExampleCaptions .carousel-item {
  width: 100%;
  height: 80vh;
}
#carouselExampleCaptions .carousel-item img,
#carouselExampleCaptions .carousel-item video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#carouselExampleCaptions .ctrl {
  background-color: var(--border);
  color: var(--main-color) !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  transition: var(--transition);
}
#carouselExampleCaptions .ctrl:hover {
  background-color: var(--main-color);
  color: var(--color-text);
}
.lr {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 40%;
  left: 0;
  bottom: -60px;
  opacity: 0;
  transition: var(--transition);
  pointer-events: none;
}
.carousel-item:hover .lr {
  opacity: 1;
  bottom: 0;
  pointer-events: all;
}

/** analyics  */
.project-analytics {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.analytics-header {
  background: #f8f9fa;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 30px;
}
.title-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-block: 30px;
}

.title-box > i {
  font-size: 32px;
  color: var(--main-color);
}
.title-box h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}
.title-box p {
  margin: 0;
  color: gray;
  font-size: 14px;
}
/** charts  */
.charts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.3rem;
}
.charts .chart-card {
  box-shadow: var(--shadow);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}
.apx-chart {
  width: 100%;
}
.charts .chart-card:first-child {
  grid-column: span 2;
}
.charts .chart-card.end {
  grid-column: span 2;
}
.charts .dontet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}
/** tool and recommendtion  */
.tools,
.recommendation {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  background: #f8f9fa;
}
.details_page.dark .tools,
.details_page.dark .recommendation {
  background: linear-gradient(var(--bg4), var(--bg2));
}
.tools ul,
.recommendation ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.recommendation ul li {
  background: #f9f9f9;
  padding: 12px 16px;
  border-left: 4px solid #1f77b4;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.6s ease,
    box-shadow 0.6s ease;
}
.tools ul li:hover,
.recommendation ul li:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.tools ul li {
  width: 100%;
  padding: 12px 16px;
  border-radius: 0.8rem;
  background: var(--color-text);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.6s ease,
    box-shadow 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
.tools ul li span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--color-text);
  font-weight: 700;
  font-size: 1.2rem;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 992px) {
  .project_details {
    flex-flow: column-reverse;
  }
  .project_details .poster {
    width: 100%;
  }
  .project_details .details {
    width: 100%;
  }
  .project-analytics {
    flex-direction: column;
  }
  .analytics-header {
    width: 100%;
  }
  .charts {
    width: 100%;
  }
  .charts .chart-card:first-child,
  .charts .chart-card.end {
    grid-column: span 1;
  }
  .charts .apx-chart {
    width: 100% !important;
  }
}
/** dark mode  */
.details_page.dark .container {
  background-color: var(--color-main-dark);
}
.details_page.dark h2 span,
.details_page.dark h2 {
  color: var(--color-title) !important;
}
.details_page.dark h3 {
  color: var(--main-color) !important;
  border-color: var(--main-color);
}
.details_page.dark .date p,
.details_page.dark .overview p {
  color: var(--color-text);
}
.details_page.dark .date i,
.details_page .date .client {
  color: var(--main-color);
}
.details_page.dark .roles_grid .role_card {
  background-color: var(--color-card-dark);
  color: var(--color-text);
}
.details_page.dark .roles_grid .role_card:hover {
  background-color: var(--main-color);
}
.details_page.dark hr {
  border-color: var(--main-color);
}

.details_page.dark .challenge li,
.details_page.dark .stra li,
.details_page.dark .tools li {
  color: var(--color-muted);
}
.details_page.dark .all_media h3 span {
  color: var(--border) !important ;
  opacity: 0.7;
}
.details_page.dark .title-box > i {
  color: var(--main-color) !important;
}
.details_page.dark .title-box h4 {
  color: var(--main-color) !important;
}
.details_page.dark .title-box p {
  color: var(--color-text) !important;
  opacity: 0.7;
}
.details_page.dark .charts .chart-card {
  background-color: var(--color-card-dark);
}
.details_page.dark .analytics-header,
.details_page.dark .tools ul li,
.details_page.dark .recommendation ul li {
  background-color: var(--color-card-dark);
  color: var(--color-text);
}
