<section class="blogs-page" [ngClass]="bg == 'dark'? 'dark' :'light'  ">
  <article class="hero">
    <div class="container">
      <p class="title fade-up" appFadeUp>our blogs</p>
      <h2>find our all blogs from here</h2>
      <p class="dis">our blogs are written from very research and well known writers so that we can provide you the
        best blogs and articles articles for you to read them all along</p>
    </div>
  </article>
  <!--! blogs cart  -->
  <article class="blogs-cart my-3">
    <div class="container">
      <section class="header fade-up" appFadeUp>
        <div class="search">
          <input type="text" [(ngModel)]="searword" placeholder="search ....." class="form-control">
          <ul *ngIf="searword && blogs" appFadeUp class="fade-up">
            @for(blog of blogs | searchBlog : searword ; track $index){
            <li [routerLink]="['/blog', blog.id]">{{blog.blog_title}}</li>
            }
          </ul>
        </div>
        <span (click)=" adminMode ? saveData() : open()"> <i class="fa-solid"
            [ngClass]="adminMode ? 'fa-floppy-disk' : 'fa-pen-to-square' "></i></span>
      </section>
      <app-blog-cart [blogs]="blogs" [adminMode]="adminMode"></app-blog-cart>
    </div>
  </article>
  <!--! subscrip  -->
  <article class="subscrip">
    <div class="container">
      <h3 class="fade-up" appFadeUp> Get our stories delivered From us to your inbox weekly.</h3>
      <form class="fade-up" appFadeUp>
        <input type="text" class="form-control" placeholder="Your Email">
        <button type="submit" class="btn btn-light">Get started</button>
      </form>
      <p class="fade-up" appFadeUp>
        Get a response tomorrow if you submit by 9pm today. If we received after 9pm will get a reponse the following
        day.
      </p>
    </div>
  </article>
</section>

<app-login [showPopup]="showLoginSection" (close)="hiddenPopup()"></app-login>
