<section class="analytics-page " [ngClass]="{'dark':bg=='dark'}">
  <div class="container">
    <section class="contact">
      <aside>
        <ul>
          <li class="fade-up" appFadeUp [ngClass]="{'active' : activeChart == 'bar'}"
            (click)=" updateChart('bar')">
            Table</li>
          <li class="fade-up" appFadeUp [ngClass]="{'active' : activeChart == 'views'}" (click)="updateChart('views')">
            Views</li>
          <li class="fade-up" appFadeUp [ngClass]="{'active' : activeChart == 'interactions'}"
            (click)="updateChart('interactions')">Interactions</li>
          <li class="fade-up" appFadeUp [ngClass]="{'active' : activeChart == 'clicks'}"
            (click)="updateChart('clicks')">
            Link Clicks</li>
          <li class="fade-up" appFadeUp [ngClass]="{'active' : activeChart == 'visits'}"
            (click)="updateChart('visits')">
            Page Visits</li>
          <li class="fade-up" appFadeUp [ngClass]="{'active' : activeChart == 'followers'}"
            (click)=" updateChart('followers')">Followers</li>

        </ul>
      </aside>

      <article class="contact_chart">
        <div class="table-responsive" >
          <table class="table table-striped " *ngIf="activeChart == 'bar'" [ngClass]="{'table-dark': bg == 'dark' }">
            <thead>
              <tr>
                <td class="table-active fade-up" appFadeUp>index</td>
                <td class="fade-up" appFadeUp>Views</td>
                <td class="fade-up" appFadeUp>Interactions</td>
                <td class="fade-up" appFadeUp>Link Clicks</td>
                <td class="fade-up" appFadeUp>Page Visits</td>
                <td class="fade-up" appFadeUp>Followers</td>
              </tr>
            </thead>
            <tbody>
              @for (r of project.results; track $index) {
              <tr>
                <td class="table-active fade-up" appFadeUp>{{$index + 1}}</td>
                <td class="fade-up" appFadeUp>{{r.view}}</td>
                <td class="fade-up" appFadeUp>{{r.interaction}}</td>
                <td class="fade-up" appFadeUp>{{r.Click}}</td>
                <td class="fade-up" appFadeUp>{{r.visit_page}} </td>
                <td class="fade-up" appFadeUp>{{r.New_follower}}</td>
              </tr>
              }
            </tbody>
          </table>
          <apx-chart class="apx-chart" [labels]="chartOptions.labels!" [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
          [yaxis]="chartOptions.yaxis!" [colors]="chartOptions.colors!" [dataLabels]="barChartOptions.dataLabels!"
          [stroke]="barChartOptions.stroke!" [plotOptions]="barChartOptions.plotOptions!"
          [tooltip]="barChartOptions.tooltip!" [fill]="barChartOptions.fill!">
        </apx-chart>
      </div>
        </article>
    </section>
  </div>
</section>




<!--

        <canvas #allChart *ngIf="activeChart === 'table'"></canvas>
        <canvas #viewsCanvas *ngIf="activeChart === 'views'"></canvas>
        <canvas #interactionsCanvas *ngIf="activeChart === 'interactions'"></canvas>
        <canvas #clicksCanvas *ngIf="activeChart === 'clicks'"></canvas>
        <canvas #visitsCanvas *ngIf="activeChart === 'visits'"></canvas>
        <canvas #followersCanvas *ngIf="activeChart === 'followers'"></canvas>

-->
