<section class="blogs" [ngClass]="bg == 'dark' ? 'dark':'light' ">
  @for (blog of blogs; track $index) {
  <article class="blog_card my-3 fade-up" appFadeUp>
    <img [src]="blog.blog_poster" [alt]="blog.blog_title" (click)="goToDetalis(blog.id)">
    <div class="blog_body">
      <div class="data">
        <p class="blog_type" (click)="goToDetalis(blog.id)">{{blog.blog_type}}</p>
        <p class="blog_date">{{blog.blog_date | date : 'mediumDate'}}</p>
      </div>
      <h5>{{blog.blog_title}}</h5>
      <p class="dis">{{blog.blog_dis[0] | projectDis : 30}}</p>
    </div>
    <div class="btns">
      <button class="btn" [ngClass]="bg =='dark' ?'btn-light' : '' "  (click)="goToDetalis(blog.id)"> Read More <i class="fa-solid fa-arrow-right"></i></button>
      <button class="btn btn-primary"  *ngIf="adminMode" (click)="openEdit(blog)"> Update Blog </button>
      <button class="btn btn-danger" (click)="delBlog(blog.id)" *ngIf="adminMode"> Delete Blog </button>
    </div>
  </article>
  }
  <!--* add new blog  -->
  <article class="add_blog fade-up" appFadeUp (click)="show = true ; editMode = false ; my_blog = null " *ngIf="adminMode">
    Add New Blog
  </article>
</section>

<!--* form section  -->
<app-blog-form [eidtMode]="editMode" [show]="show" (close)="show = false" [blog]="my_blog" (refresh)="getBlogs()" ></app-blog-form>
