/** login section  */
.login{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
  transition: var(--transition);
}

.form_section.hidden ,
.login.hidden{
  opacity: 0;
  pointer-events: none;
}
.form_section.show ,
.login.show{
  opacity:1;
  pointer-events: all;
}

.login form{
  width: 380px;
  background-color: var(--color-text);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: clamp(1.2rem, 1vw + 0.8rem, 2rem);
  position: relative;
  box-shadow: var(--shadow);
  transition: var(--transition) ;
}
.login form.show{
  transform: rotateY(0deg);
}

.login form.hidden{
  transform: rotateY(180deg);
}

.blogs-page.dark .login form{
  background-color: var(--color-dark-card);
  color: var(--color-dark-text_2);
}
.login .e {
  width: 30px;
  height: 30px;
  padding: .3rem;
  border-radius: 50%;
  background-color: var(--red);
  color: var(--color-text);
  position: absolute;
  top: 20px;
  right: 10px;
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 93;
}
.login form .password {
  width: 100%;
  height: 100%;
  position: relative;
}
.login form input  {
  width: 100%;
  height: 100%;
   padding-right: 45px;
   transition: var(--transition);
}
.login form .password  span{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  padding: .3rem;
  font-size: 1.3rem;
  transition: var(--transition);
  /* background-color: var(--color-muted); */
  cursor: pointer;
  display: grid;
  place-items: center;
  border-radius: 0 .3rem .3rem 0;
}
.login form .password  span i{
  color: var(--dark);
  transition: var(--transition);
}
.login form .password  span:hover i{
  color: var(--main-color);
  transform: scale(1.2);
}
.login form button {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  width: 100%;
  height: 40px;
  box-shadow: var(--shadow);
  margin-block: 10px ;
}
.login form button.btnLogin {
  background-color: var(--main-color);
  color: var(--color-text);
}
.login form button.logWithGoogle {
  background-color: var(--color-text);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  gap: .5rem;
}
.blogs-page.dark .login form button.logWithGoogle {
  background-color: var(--color-dark-card);
  color: var(--color-dark-text_1);
}

/** forgot password  */
.resetPassword{
  width: 100%;
  height: 100%;
  background-color: var(--color-text);
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transition);
  display: flex;
  justify-content :  center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  padding: clamp(1.2rem, 1vw + 0.8rem, 2rem);
  border-radius: 10px;
}
.blogs-page.dark .resetPassword{
  background-color: var(--color-dark-card);
}
.resetPassword.show{
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
.resetPassword.hidden{
  opacity: 0;
  transform: translateX(50px);
  pointer-events: none;
}
.resetPassword .backs {
  width: 40px ;
  height: 40px ;
  border-radius:.5rem ;
  padding: 20px;
  transition: var(--transition);
  position: absolute;
  top: 20px;
  left: 10px;
  display: grid;
  place-items: center;
  box-shadow: none ;
  background-color: none;
  cursor: pointer;
}

