<section class="home_page " [ngClass]="{'dark': bg== 'dark'}">
  <!--& hero section  -->
  <article class="hero fade-up" appFadeUp>
    <h1 class="my_name">I am Mohammed Abdulaziz <span></span></h1>
    <h4 class="my_job_name"></h4>
    <a class="go_down" (click)="scrollToAboutMe()"> <i class="fa fa-chevron-down"></i></a>

  </article>
  <!--& About me  -->
  <article class="about_me fade-up" id="about_me" appFadeUp>
    <h2 class="fade-up" appFadeUp>about me</h2>
    <section class="about_me_content">
      <!--& informtion -->
      <article class="data">
        <img src="./assets/mohamed_re.png" alt="my_image" class="fade-left" appFadeLeft>
        <div class="informtion fade-right" appFadeRight>
          <p><span>name :</span>mohammed Abdulaziz</p>
          <p><span>age :</span>24</p>
          <p><span>phone :</span>+201029155459</p>
          <p><span>email :</span>mohammedAbdlaiziz1&#64;gmail.com</p>
        </div>
      </article>
      <div class="about_me_text">
        <span class="fade-left" appFadeLeft>
          Business Administration Graduate specialized in Digital Marketing. Skilled in social media management, paid
          advertising, content creation, and performance analysis. Focused on delivering high ROI and building strong
          online brand presence.
        </span>
        <span class="fade-right" appFadeRight>
          Experienced in creating data-driven marketing strategies, optimizing campaigns for better conversion rates,
          and
          helping businesses reach their target audience effectively. Always eager to learn new trends and tools to stay
          ahead in the fast-paced digital marketing world..
        </span>
      </div>

    </section>
  </article>
  <!--& projects  -->
  <article class="my-project">
    <h2 class="fade-up " appFadeUp>my projects</h2>
    <section class="projects_contect">
      <!--& project 1  -->
      <app-projects-cart [projcets]="projects" [adminMode]="false"></app-projects-cart>
    </section>
    <button class="btn_pro fade-up btn_p" appFadeUp [routerLink]="'/project'">show more projects </button>
  </article>
  <!--& skills  -->
  <!-- <article class="my_skills">
    <h2 class="fade-up" appFadeUp>my skills</h2>

    <section class="skills_sec">
      <aside>
        <h4 class="fade-left" [ngClass]="{'active': skillMode=='skill'}" appFadeLeft (click)="skillMode = 'skill' ">
          Skills</h4>
        <h4 class="fade-left" [ngClass]="{'active': skillMode=='tool'}" appFadeLeft (click)="skillMode = 'tool' ">
          Tools</h4>
      </aside>
      <section class="skills_contcet">
        @switch (skillMode) {
        @case ('skill') {
        <article class="skills">
          <p class="alert alert-info fade-up" appFadeUp>my skill</p>
        </article>
        }
        @case ('tool') {
        <article class="tools">
          <p class="alert alert-info fade-up" appFadeUp>my tools</p>
        </article>
        }
        }
      </section>

    </section>
  </article> -->
  <!--& My Achievements  -->
  <article class="achievements">
    <h2>My Achievements</h2>
    <section class="achievements_contect" #achievement>
      <!--! client  -->
      <div class="achievement fade-right" appFadeRight>
        <i class="fa-solid fa-users"></i>
        <p class="achievement_number">{{counts.client}} + Clients</p>
      </div>

      <!--! Number Of project  -->
      <div class="achievement fade-left" appFadeLeft>
        <i class="fa-solid fa-bullseye"></i>
        <p>{{counts.project}} + Buyer Personas Built</p>
      </div>
      <!--! Number Of Campaigns  -->
      <div class="achievement fade-left" appFadeLeft>
        <i class="fa-solid fa-fire"></i>
        <p>{{counts.Campaigns}} + Underperforming Campaigns Turned Profitable</p>
      </div>

      <!--! Number of Industries  -->
      <div class="achievement fade-right" appFadeRight>
        <i class="fa-solid fa-globe"></i>
        <p>{{counts.Industries}} Industries Served </p>
      </div>
      <!--! Number of certificates  -->
      <div class="achievement fade-right" appFadeRight>
        <i class="fa-solid fa-trophy"></i>
        <p>{{counts.certificate}} + Brands Successfully Scaled </p>
      </div>

      <!--! Number of working hours  -->
      <div class="achievement fade-left" appFadeLeft>
        <i class="fa-regular fa-clock"></i>
        <p>{{counts.hours}} + Number of working hours</p>
      </div>

    </section>
  </article>

  <!--& Services  -->

  <article class="Services">
    <h2 class="fade-up" appFadeUp>Services</h2>
    <section class="Services_contect">
      <!--& service 1  -->
      <div class="service-card fade-up" appFadeUp>
        <span>
          <i class="fa-solid fa-bullhorn"></i>
        </span>
        <h3>Digital Marketing Strategy</h3>
        <p>Planning and managing ad campaigns across Facebook, Google, and other social media platforms.</p>
      </div>

      <!--& service 2  -->
      <div class="service-card fade-up" appFadeUp>
        <span>
          <i class="fa-solid fa-envelope-open-text"></i>
        </span>
        <h3>Email Marketing</h3>
        <p>Designing and executing email campaigns to boost engagement and conversions.</p>
      </div>

      <!--& service 3  -->
      <div class="service-card fade-up" appFadeUp>
        <span>
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <h3>Paid Advertising Services</h3>
        <p>Creating compelling marketing content and high-performing ad creatives.</p>
      </div>

      <!--& service 4  -->
      <div class="service-card fade-up" appFadeUp>
        <span>
          <i class="fa-solid fa-magnifying-glass-chart"></i>
        </span>
        <h3>Customer Journey Mapping</h3>
        <p>Optimizing user experience and improving search engine rankings.</p>
      </div>

      <!--& service 5  -->
      <div class="service-card fade-up" appFadeUp>
        <span>
          <i class="fa-solid fa-laptop-code"></i>
        </span>
        <h3>Landing Page Optimization</h3>
        <p>Enhancing landing pages to increase conversions and engagement.</p>
      </div>

      <!--& service 6  -->
      <div class="service-card fade-up" appFadeUp>
        <span>
          <i class="fa-solid fa-chart-line"></i>
        </span>
        <h3>Content Strategy Specialist</h3>
        <p>Developing data-driven content strategies to maximize campaign performance.</p>
      </div>

      <!--& service 7  -->
      <div class="service-card fade-up" appFadeUp>
        <span>
          <i class="fa-solid fa-funnel-dollar"></i>
        </span>
        <h3>Ad Campaign Manager</h3>
        <p>Building and managing sales funnels to drive higher conversions.</p>
      </div>

      <!--& service 8  -->
      <div class="service-card fade-up" appFadeUp>
        <span>
          <i class="fa-solid fa-bullseye"></i>
        </span>
        <h3>Performance Marketing</h3>
        <p>Executing results-oriented campaigns to strengthen brand identity and ROI.</p>
      </div>
    </section>
  </article>

  <article class="contact">
    <div class="container">
      <h5>Start your journey towards digital success today?</h5>
      <p>Free consultation to help you achieve real and sustainable growth for your project.</p>
      <div>
        <button type="button" class="btn p-3 btn-outline-light mx-2" [routerLink]="'/contact-us'">Book now</button>
        <button type="button" class="btn p-3 btn-outline-light mx-2" [routerLink]="'/project'">My projects</button>

      </div>
    </div>
  </article>

</section>
