.project_page {
  width: 100%;
}
header {
  width: 85%;
  margin: 30px auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
}
header span {
  font-size: 25px;
  font-weight: 600;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: var(--transition);
}
header i {
  transition: var(--transition);
  cursor: pointer;
}
header span:hover {
  background-color: var(--color-muted);
}
header span:hover i {
  color: var(--main-color);
}

header .search_result{
  width: 100%;
  max-height: 200px;
  min-height: 80px;
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--color-text);
  box-shadow: var(--shadow);
  border-radius:.5rem ;
  position: absolute;
  top: 110%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  z-index: 1;
  text-align: center;
}


header .search_result li{
  padding:10px 15px;
  transition: var(--transition);
}
header .search_result li:hover{
  color: var(--color-text);
  background-color: var(--main-color);
}

/** فلتير الانواع  */
.type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.type ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
}
.type ul li {
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 10px;
  text-transform: capitalize;
  min-width: 4rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
}

.type ul li:hover{
  color: var(--main-color);
  transform: translateY(-10px);
}
.type ul li.active {
  color: var(--main-color);
}

.projects {
  width: 85%;
  min-height: 45vh;
  margin: 20px auto;
}

/** login section  */

.login {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
  transition: var(--transition);
}


.login form {
  width: 300px;
  padding: clamp(1.2rem, 1vw + 0.8rem, 2rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.3rem;
  background-color: var(--color-text);
  box-shadow: var(--shadow);
  position: relative;
}
.login form h3 {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: var(--main-color);
}
.login form label {
  color: var(--main-color);
}
.login form .password {
  width: 100%;
  height: 100%;
  position: relative;
}
.login form input  {
  width: 100%;
  height: 100%;
   padding-right: 45px;
   transition: var(--transition);
}
.login form .password  span{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  padding: .3rem;
  font-size: 1.3rem;
  transition: var(--transition);
  /* background-color: var(--color-muted); */
  cursor: pointer;
  display: grid;
  place-items: center;
  border-radius: 0 .3rem .3rem 0;
}
.login form .password  span i{
  color: var(--dark);
  transition: var(--transition);
}
.login form .password  span:hover i{
  color: var(--main-color);
  transform: scale(1.2);
}
.login form .password  span:active i{
  color: var(--main-color);
  transform: scale(.8);
}
.login form button {
  padding: 0.5rem;
  background-color: var(--main-color);
  color: var(--color-text);
  border-radius: 0.3rem;
  border: none;
}
.login .exit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.4rem;
  color: var(--red);
  cursor: pointer;
}
.login.hidden {
  /* transform: translateY(100px); */
  opacity: 0;
  pointer-events: none;
}

.login.show {
  /* transform: translateY(0); */
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width:762px) {
    .projects { width: 95%; }
}
/*& dark mode  */

.project_page.dark header span:hover  {
  background-color: var(--main-color);
}
.project_page.dark header span i  {
  color: var(--main-color);
}
.project_page.dark header span:hover i  {
  color: var(--color-text);
}
.project_page.dark header .search_result{
  background-color: var(--bg2);
  color: var(--color-text);
}
.project_page.dark header .search_result li:hover{
  background-color: var(--main-color);
  color: var(--color-text);
}
.project_page.dark .type span,
.project_page.dark .type ul li{
  background-color: var(--bg4);
  color: var(--color-text);
}
.project_page.dark .type ul li:hover,
.project_page.dark .type ul li.active{
  background-color: var(--main-color);
}
.project_page.dark .login form {
  background-color: var(--bg4);
}

.project_page.dark .login form h3 {
  color: var(--main-color) !important;
}
.project_page.dark .login form button {
  background-color: var(--main-color);
}
