<section class="project_page" [ngClass]="{'dark' : bg == 'dark'} ">
  <header>
    <input class="form-control" [(ngModel)]="searchWord" type="text" placeholder="Search projects..." />
    <ul class="search_result" *ngIf="searchWord !==''">
      @for (res of projects | search : searchWord; track $index) {
      <li (click)="searchWord = res.project_title">{{res.project_title}}</li>
      }@empty {
      <li>There is no project by that name. </li>
      }
    </ul>
    <span>
      <i [ngClass]="
    {'fa-pen-to-square fa-solid': !adminMode  ,'fa-regular fa-floppy-disk': adminMode}"
        (click)=" adminMode ? saveData() : open()"></i>
    </span>
  </header>
  <h2 class="text-primary mt-5 text-center" [ngClass]="{'text-white ' : bg == 'dark'} ">Our projects</h2>
  <p class="text-muted mb-3  text-center" [ngClass]="{'text-white-50 ' : bg == 'dark'} ">Our most important projects</p>
  <article class="type">
    <ul>
      <li [ngClass]="{'active' : typeMode == 'all' }" (click)="getProjects(); typeMode = 'all' ">all</li>
      @for (type of types ; track $index) {
      <li (click)="typeMode = type ; filterByType(type) " [ngClass]="{'active' : typeMode == type}">{{type}}</li>
      }
    </ul>
  </article>
  <article class="projects">
    <app-projects-cart [projcets]="projects |search : searchWord" [adminMode]="adminMode"></app-projects-cart>
  </article>

</section>
<app-login [showPopup]="showLoginSection" (close)="hiddenPopup()"></app-login>
