/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #1f77b4;
  /* --main-color: #0057ff; */
  --color-primary: #01b4e4;
  --dark: #0d253f;
  --bg: #081c24;
  --color-text: #ffffff;
  --color-muted: #f2f2f2;
  --red: #b71c1c;
  --green: #198754;
  --gold: rgb(255, 190, 51);
  --bg2: #1f1f1f;
  --bg3: #202124;
  --bg4 : #222831;
  --border: #757575;

  --transition: 0.5s all;
  --shadow:
    0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3),
    0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  appearance: none;
  background-color: #f2f2f2;
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  appearance: none;
  background-color: var(--main-color);
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}
#toast-container {
  position: fixed;
  top: 2.5rem;
}
.fade-up  , .fade-left , .fade-right{
  opacity: 0;
  transition: 0.8s all ease-in-out;
  transition-delay: 0.2s;
}
.fade-up  {
  transform: translateY(90px) scale(0.6);
}
.fade-right{
  transform: translateX(80px) scale(.6);
}
.fade-left{
  transform: translateX(-80px) scale(.6);
}

.fade-right.show,
.fade-left.show,
.fade-up.show {
  opacity: 1;
  transform: translate(0) scale(1);
}
body.dark{
  background-color: var(--bg3);
}

/* body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark p,
body.dark label,
body.dark span{
  color: #EDEDED  ;
} */
