/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #1f77b4;
  /* --main-color: #0057ff; */
  --color-primary: #01b4e4;
  --dark: #0d253f;
  --bg: #081c24;
  --color-text: #ffffff;
  --color-muted: #f2f2f2;
  --red: #b71c1c;
  --green: #198754;
  --gold: rgb(255, 190, 51);
  --bg2: #1f1f1f;
  --bg3: #0f172a;

  --border: #757575;

  /*! dark mode  */
  --bg4 : #0f172a;
  --color-dark-card: #1e293b ;
  --color-title : #f1f5f9 ;
  --color-dark-text_1:#cbd5e1 ;
  --color-dark-text_2:#94a3b8 ;
  --color-main-dark : #222831 ;
  --transition: 0.5s all;
  --shadow:
    0rem 4px 13px rgba(0, 0, 0, 0.13),
    0rem 6px 15px rgba(0, 0, 0, 0.17);
}
@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway/Raleway-VariableFont_wght.ttf');
}
@font-face {

  font-family: 'semi';
  src: url('./assets/fonts/semi/SairaSemiCondensed-Regular.ttf');
  font-weight: 900;
}

h1 , h2 ,h3 , h4 , h5 , h6   {
  font-family: 'Raleway';
}
p , span , a , li{
  font-family: 'semi';
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
::-webkit-scrollbar {
  appearance: none;
  background-color: var(--color-muted);
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  appearance: none;
  background-color: var(--main-color);
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}
@keyframes bounce2 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
#toast-container {
  position: fixed;
  top: 2.5rem;
}
.fade-up  , .fade-left , .fade-right{
  opacity: 0;
  transition: 0.8s all ease-in-out;
  transition-delay: 0.2s;
}
.fade-up  {
  transform: translateY(90px) scale(0.6);
}
.fade-right{
  transform: translateX(80px) scale(.6);
}
.fade-left{
  transform: translateX(-80px) scale(.6);
}

.fade-right.show,
.fade-left.show,
.fade-up.show {
  opacity: 1;
  transform: translate(0) scale(1);
}
body.dark{
  background-color: var(--bg4);
}
::selection{
  background-color: var(--color-primary);
  color: var(--color-text);
}
